<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
 
<beans>

  <bean name="siw"
    class="gov.nih.nci.ncicb.cadsr.loader.UMLLoaderGUI"
    >
    <!--
    <property name="roundtripDescriptor">
      <ref bean="roundtripDescriptor"/>
    </property>
    -->
    <property name="panelDescriptors">
      <list>
        <ref bean="roundtripDescriptor"/>
        <ref bean="gmeDefaultsDescriptor"/>
      </list>
    </property>
    <property name="mainFrame">
      <ref bean="mainFrame"/>
    </property>
    <property name="customAppender">
      <ref bean="appender"/>
    </property>
    <property name="userPreferences">
      <ref bean="usersPreferences"/>
    </property>
  </bean>

  <bean name="umlLoader"
    class="gov.nih.nci.ncicb.cadsr.loader.UMLLoader"
    >
    <property name="validator"><ref bean="mainValidator"/></property>
    <property name="parser"><ref bean="xmiParser2"/></property>
    <property name="persister"><ref bean="mainPersister"/></property>
    <property name="userPreferences"><ref bean="usersPreferences"/></property>
    <property name="dataSource"><ref bean="dataSource"/></property>
    <property name="runModeListeners">
      <list>
        <ref bean="umlEventHandler"/>
      </list>
    </property>
  </bean>

  <bean name="gmeAction"
    class="gov.nih.nci.ncicb.cadsr.loader.GMEAction"
    >
    <property name="parser"><ref bean="xmiParser2"/></property>
    <property name="writer"><ref bean="gmeWriter"/></property>
  </bean>

  <bean name="unclassifier"
    class="gov.nih.nci.ncicb.cadsr.loader.Unclassifier"
    >
    <property name="dataSource"><ref bean="dataSource"/></property>
  </bean>
  
  <bean name="wizardController"
    class="gov.nih.nci.ncicb.cadsr.loader.ui.WizardController"
    >
    <property name="runModeListeners">
      <list>
        <ref bean="umlEventHandler"/>
      </list>
    </property>
    <property name="xmiParser">
      <ref bean="xmiParser2"/>
    </property>
    <property name="preParser">
      <ref bean="preParser"/>
    </property>
    <property name="validator">
      <ref bean="mainValidator"/>
    </property>
    <property name="roundtripAction">
      <ref bean="roundtripAction"/>
    </property>
    <property name="gmeAction">
      <ref bean="gmeAction"/>
    </property>
  </bean>

  <bean name="semanticConnector"
    class="gov.nih.nci.ncicb.cadsr.semconn.SemanticConnector">
    <property name="parser"><ref bean="xmiSemConnParser"/></property>
    <property name="writer"><ref bean="xmiInOutWriter"/></property>
  </bean>
  
  <bean name="xmiSemConnParser"
    class="gov.nih.nci.ncicb.cadsr.loader.parser.XMIParser2">
    <property name="eventHandler"><ref bean="semConnEventHandler"/></property>
  </bean>

  
  <bean name="semConnEventHandler"
    class="gov.nih.nci.ncicb.cadsr.semconn.SemConnEventHandler">
  </bean>
  

  <bean name="umlEventHandler"
    class="gov.nih.nci.ncicb.cadsr.loader.event.UMLDefaultHandler">
  </bean>

  <bean name="preHandler"
    class="gov.nih.nci.ncicb.cadsr.loader.event.PackageFilterHandler">
  </bean>

  <!-- change IMPL -->
  <bean name="scEventHandler"
    class="gov.nih.nci.ncicb.cadsr.loader.event.UMLDefaultHandler">
  </bean>

  <bean name="datatypeMapping"
    class="gov.nih.nci.ncicb.cadsr.loader.util.DatatypeMapping"
    factory-method="createInstance">
    <property name="mappingURL"><value>--DatatypeMapping URL Here--</value></property>
  </bean>

  <!--
  <bean name="xmiParser"
    class="gov.nih.nci.ncicb.cadsr.loader.parser.XMIParser">
    <property name="eventHandler"><ref bean="umlEventHandler"/></property>
  </bean>
-->

  <bean name="xmiParser2"
    class="gov.nih.nci.ncicb.cadsr.loader.parser.XMIParser2">
    <property name="eventHandler"><ref bean="umlEventHandler"/></property>
  </bean>

  <bean name="preParser"
    class="gov.nih.nci.ncicb.cadsr.loader.parser.PreParser">
    <property name="eventHandler"><ref bean="preHandler"/></property>
  </bean>

  <!--
  <bean name="scXmiParser"
    class="gov.nih.nci.ncicb.cadsr.loader.parser.XMIParser">
    <property name="eventHandler"><ref bean="scEventHandler"/></property>
  </bean>
-->
  

  <bean name="mainPersister"
    class="gov.nih.nci.ncicb.cadsr.loader.persister.UMLPersister">
  </bean>

  <bean name="usersPreferences"
    class="gov.nih.nci.ncicb.cadsr.loader.util.UserPreferences"
    factory-method="getInstance"
    >
    <property name="publicCadsrModule">
      <ref bean="publicCadsrModule"/>
    </property>
    <property name="privateCadsrModule">
      <ref bean="privateCadsrModule"/>
    </property>
    <property name="cadsrModuleListeners">
      <list>
        <ref bean="umlRoundtrip"/>
        <ref bean="valueDomainValidator"/>
        <ref bean="duplicateValidator"/>
        <ref bean="roundtripPanel"/>
        <ref bean="gmeDefaultsPanel"/>
        <ref bean="cadsrDEDialog"/>
        <ref bean="cadsrVDDialog"/>
        <ref bean="deReuseDialog"/>
        <ref bean="umlEventHandler"/>
        <ref bean="inheritanceValidator"/>
      </list>
    </property>
  </bean>


  <!-- Services -->
  <bean name="csvWriter"
    class="gov.nih.nci.ncicb.cadsr.loader.parser.CSVWriter" 
    singleton="true">
  </bean>

  <!--
  <bean name="xmiWriter"
    class="gov.nih.nci.ncicb.cadsr.loader.parser.XMIWriter" 
    singleton="true">
  </bean>
-->

  <bean name="gmeWriter"
    class="gov.nih.nci.ncicb.cadsr.loader.parser.GMEWriter" 
    singleton="true">
  </bean>

  <bean name="xmiInOutWriter"
    class="gov.nih.nci.ncicb.cadsr.loader.parser.XMIWriter2" 
    singleton="true">
  </bean>

  <bean name="publicCadsrModule"
    class="gov.nih.nci.ncicb.cadsr.loader.ext.CadsrPublicApiModule" 
    singleton="true">
    <property name="serviceURL"> <value>--Public API URL Here--</value></property>
  </bean>

  <bean name="privateCadsrModule"
    class="gov.nih.nci.ncicb.cadsr.loader.ext.CadsrPrivateApiModule" 
    singleton="true">
  </bean>

  <bean name="freestyleModule"
    class="gov.nih.nci.ncicb.cadsr.loader.ext.FreestyleModule" 
    singleton="true">
    <property name="datasourceLocation">
      <value>--Freestyle URL Here--</value>
    </property>
    <property name="publicApi">
      <value>--Public API URL Here--</value>
    </property>
  </bean>

  <bean name="umlRoundtrip"
    class="gov.nih.nci.ncicb.cadsr.loader.roundtrip.UMLRoundtrip" 
    singleton="true"
    >
  </bean>

  <bean name="roundtripAction"
    class="gov.nih.nci.ncicb.cadsr.loader.RoundtripAction" 
    singleton="true"
    >
    <property name="roundtrip"><ref bean="umlRoundtrip"/></property>
    <property name="parser"><ref bean="xmiParser2"/></property>
  </bean>

  <!-- Validators -->
  <bean name="gmeValidator"
    class="gov.nih.nci.ncicb.cadsr.loader.validator.GMEValidator">
  </bean>
  <bean name="valueDomainValidator"
    class="gov.nih.nci.ncicb.cadsr.loader.validator.ValueDomainValidator">
  </bean>
  <bean name="conceptCodeValidator"
    class="gov.nih.nci.ncicb.cadsr.loader.validator.ConceptCodeValidator"/>
  <bean name="datatypeValidator"
    class="gov.nih.nci.ncicb.cadsr.loader.validator.DatatypeValidator"/>
  <bean name="descriptionValidator"
    class="gov.nih.nci.ncicb.cadsr.loader.validator.DescriptionValidator"/>

  <bean name="associationValidator"
    class="gov.nih.nci.ncicb.cadsr.loader.validator.AssociationValidator"/>

  <bean name="duplicateValidator"
    class="gov.nih.nci.ncicb.cadsr.loader.validator.DuplicateValidator"/>

  <bean name="latestVersionValidator"
    class="gov.nih.nci.ncicb.cadsr.loader.validator.LatestVersionValidator"/>

  <bean name="duplicateAttributeValidator"
    class="gov.nih.nci.ncicb.cadsr.loader.validator.DuplicateAttributeValidator"/>

  <bean name="inheritanceValidator"
    class="gov.nih.nci.ncicb.cadsr.loader.validator.InheritanceValidator"/>

  <bean name="definitionLengthValidator"
    class="gov.nih.nci.ncicb.cadsr.loader.validator.DefinitionLengthValidator"/>

  <bean name="mainValidator"
    class="gov.nih.nci.ncicb.cadsr.loader.validator.UMLValidator">
    <property name="validators">
      <list>
        <ref bean="descriptionValidator"/>
        <ref bean="conceptCodeValidator"/>
        <ref bean="datatypeValidator"/>
        <ref bean="valueDomainValidator"/>
        <ref bean="associationValidator"/>
        <ref bean="duplicateValidator"/>
        <ref bean="latestVersionValidator"/>
        <ref bean="duplicateAttributeValidator"/>
        <ref bean="inheritanceValidator"/>
        <ref bean="definitionLengthValidator"/>
        <ref bean="gmeValidator"/>
      </list>
    </property>
  </bean>
  
  <!-- Wizard Panels -->
  <bean name="roundtripPanel"
    class="gov.nih.nci.ncicb.cadsr.loader.ui.RoundtripPanel">
  </bean>

  <bean name="gmeDefaultsPanel"
    class="gov.nih.nci.ncicb.cadsr.loader.ui.GMEDefaultsPanel">
  </bean>

  <!-- Wizard Descriptors -->
  <bean name="roundtripDescriptor"
    class="gov.nih.nci.ncicb.cadsr.loader.ui.RoundtripPanelDescriptor"
    autowire="constructor">
  </bean>

  <bean name="gmeDefaultsDescriptor"
    class="gov.nih.nci.ncicb.cadsr.loader.ui.GMEDefaultsPanelDescriptor"
    autowire="constructor">
  </bean>

  
  <!-- UI Elements -->
  
  <!--  Cadsr Dialog -->
  <bean name="cadsrDEDialog"
    class="gov.nih.nci.ncicb.cadsr.loader.ui.CadsrDialog"
    >
    <constructor-arg><value>4</value></constructor-arg>
    <property name="freestyleModule">
      <ref bean="freestyleModule"/>
    </property>
  </bean>

  <bean name="cadsrVDDialog"
    class="gov.nih.nci.ncicb.cadsr.loader.ui.CadsrDialog"
    >
    <constructor-arg><value>3</value></constructor-arg>
  </bean>

  <bean name="deReuseDialog"
    class="gov.nih.nci.ncicb.cadsr.loader.ui.DEReuseDialog"
    >
  </bean>
  
  <bean name="vdViewPanel"
    class="gov.nih.nci.ncicb.cadsr.loader.ui.ValueDomainViewPanel"
    />
  
  <bean name="mainFrame"
    class="gov.nih.nci.ncicb.cadsr.loader.ui.MainFrame">
    <property name="logTab">
      <ref bean="logTab"/>
    </property>
    <property name="xmiWriter">
      <ref bean="xmiInOutWriter"/>
    </property>
    <property name="valueDomainViewPanel">
      <ref bean="vdViewPanel"/>
    </property>
  </bean>

  <bean name="logTab"
    class="gov.nih.nci.ncicb.cadsr.loader.ui.LogPanel">
  </bean>

  <bean name="appender"
    class="gov.nih.nci.ncicb.cadsr.loader.util.SiwAppender">
    <property name="logListeners">
      <list>
        <ref bean="logTab"/>
      </list>
    </property>
  </bean>
    

</beans>