<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

  <bean id="dataSource" class="oracle.jdbc.pool.OracleConnectionPoolDataSource">
    <property name="driverType"><value>oracle.jdbc.driver.OracleDriver</value></property> 
    <property name="URL"><value>jdbc:oracle:thin:@cbdb-s1001.nci.nih.gov:1551:DSRSTG</value></property>
    <property name="user"><value>THE_SIW</value></property> 
    <property name="password"><value>SIWSTG16</value></property> 
  </bean> 

</beans>
