<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"/>

  <bean id="dataSource" class="oracle.jdbc.pool.OracleConnectionPoolDataSource">
    <property name="driverType"><value>oracle.jdbc.driver.OracleDriver</value></property>
    <property name="URL"><value>@@DB_URL@@</value></property>
    <property name="user"><value>@@DB_USER@@</value></property>
    <property name="password"><value>@@DB_PASSWD@@</value></property>
  </bean>

</beans>
